a:link {
  color: #002FA7;		/* unvisited */
}

a:visited {
  color: #002FA7;		/* visited */
}

a:hover {
  color: blue;			/* selected */
  text-decoration: none;	/* mouse over */
}

a:active {
  color: #002FA7;		/* selected */
}

/*******************************************************************/

div#header {
  text-align: center;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 25pt;
}

.headerText {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p.caption {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12pt;
}
