a:link {
  color: blue;			/* unvisited */
}

a:visited {
  color: blue;			/* visited */
}

a:hover {
  text-decoration: none;	/* mouse over */
}

a:active {
  color: darkblue;		/* selected */
}

/*******************************************************************/

div#header {
  text-align: center;
}

h1.title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 36pt;
}

h2 a {
  font-size: 24pt;
}
